:local(.hotel-container)
    display flex
:local(.container)
    display flex
    align-items stretch
    justify-content flex-start
    positon relative
:local(.avatar)
    
    position relative
:local(.promotion)
    position absolute
    left 0px
    top 5px
    padding 5px
    color red
    font-weight 600
    font-size 0.8em
    background-color white
:local(.info)
    padding 5px
:local(.hotel-name)
    max-width: calc(100vw - 145px - 20px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

:local(.description-container)
    padding-left 5px
    display flex
    flex-direction column

:local(.hotel-address)
    font-size small
