:local(.container)
    display flex
    align-items center
    justify-content center
    padding 10px
    positon relative
:local(.avatar)
    position relative
:local(.promotion)
    position absolute
    left 0px
    top 5px
    padding 5px
    color red
    font-weight 600
    font-size 0.8em
    background-color white
:local(.info)
    padding 5px
