// :local(.container)
//     display flex
:local(.price)
    font-weight 500
    font-size 2em
:local(.currency)
    font-weight 600
:local(.qty-nights)
    font-weight 600    
:local(.savings)
    color red
