:local(.container)
    display flex
    align-items center
    justify-content center
    flex-wrap wrap
    flex-direction column
    padding 10px
// :local(.text)
// :local(.textContainer)

:local(.header-city-name), :local(.header-hotel-count), :local(.field-label)
    padding 5px
    font-weight 800
// :local(.sort-input)
// :local(.sort-container)

